In [1]:
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [ ]:
# Install RAPIDS
!git clone https://github.com/rapidsai/rapidsai-csp-utils.git
!bash rapidsai-csp-utils/colab/rapids-colab.sh stable

import sys, os

dist_package_index = sys.path.index('/usr/local/lib/python3.7/dist-packages')
sys.path = sys.path[:dist_package_index] + ['/usr/local/lib/python3.7/site-packages'] + sys.path[dist_package_index:]
sys.path
exec(open('rapidsai-csp-utils/colab/update_modules.py').read(), globals())

In [3]:
import os, time
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt

In [4]:
import dask as dask, dask_cudf
from dask.distributed import Client, wait
from dask_cuda import LocalCUDACluster
import subprocess

cluster = LocalCUDACluster()
client = Client(cluster)
client

/usr/local/lib/python3.7/site-packages/distributed/client.py:1140: VersionMismatchWarning: Mismatched versions found

+---------+--------+-----------+---------+
| Package | client | scheduler | workers |
+---------+--------+-----------+---------+
| tornado | 5.1.1  | 5.1.1     | 6.1     |
+---------+--------+-----------+---------+
  warnings.warn(version_module.VersionMismatchWarning(msg[0]["warning"]))

In [5]:
features = [
    'text_tokens',    ###############
    'hashtags',       #Tweet Features
    'tweet_id',       #
    'media',          #
    'links',          #
    'domains',        #
    'tweet_type',     #
    'language',       #
    'timestamp',      ###############
    'a_user_id',              ###########################
    'a_follower_count',       #Engaged With User Features
    'a_following_count',      #
    'a_is_verified',          #
    'a_account_creation',     ###########################
    'b_user_id',              #######################
    'b_follower_count',       #Engaging User Features
    'b_following_count',      #
    'b_is_verified',          #
    'b_account_creation',     #######################
    'b_follows_a',    #################### Engagement Features
    'reply',          #Target Reply
    'retweet',        #Target Retweet    
    'retweet_comment',#Target Retweet with comment
    'like',           #Target Like                   ####################
]

In [10]:
%%time
df = dask_cudf.read_csv('part-*', sep='\x01', names=features)
df.head()

CPU times: user 50.1 ms, sys: 12.9 ms, total: 63 ms
Wall time: 421 ms

In [12]:
%%time
df = df.drop('text_tokens', axis=1)
df, = dask.persist(df)
_ = wait(df)

CPU times: user 986 ms, sys: 104 ms, total: 1.09 s
Wall time: 15.9 s

In [13]:
%%time
df.head()

CPU times: user 16.4 ms, sys: 829 Âµs, total: 17.2 ms
Wall time: 37.2 ms

  hashtags                          tweet_id  ... retweet_comment             like
0     <NA>  5DCE3020423313CB0AC2631DEF94D2F5  ...            <NA>             <NA>
1     <NA>  2B6F5C7C4F04F34543C09DD6E58C8F66  ...            <NA>             <NA>
2     <NA>  784D3AE5E6429392245BD34FF4C82B5C  ...            <NA>  1.613388292e+09
3     <NA>  CA49ACBB31921F2A0FAC1CCCC99541F6  ...            <NA>             <NA>
4     <NA>  2C95B42C651B36D84584F3653D722142  ...            <NA>  1.612587384e+09

[5 rows x 23 columns]

In [14]:
%%time
df['id'] = 1
df['id'] = df['id'].cumsum()
df['id'] = df['id'].astype('int32')

df['reply'] = df['reply'].fillna(0)
df['retweet'] = df['retweet'].fillna(0)
df['retweet_comment'] = df['retweet_comment'].fillna(0)
df['like'] = df['like'].fillna(0)

df['reply'] = df['reply'].astype('int32')
df['retweet'] = df['retweet'].astype('int32')
df['retweet_comment'] = df['retweet_comment'].astype('int32')
df['like'] = df['like'].astype('int32')
df, = dask.persist(df)
_ = wait(df)

CPU times: user 1.3 s, sys: 186 ms, total: 1.48 s
Wall time: 8.73 s

In [15]:
%%time

df['timestamp'] = df['timestamp'].astype( np.int32 )
df['a_follower_count'] = df['a_follower_count'].astype( np.int32 )
df['a_following_count'] = df['a_following_count'].astype( np.int32 )
df['a_account_creation'] = df['a_account_creation'].astype( np.int32 )
df['b_follower_count'] = df['b_follower_count'].astype( np.int32 )
df['b_following_count'] = df['b_following_count'].astype( np.int32 )
df['b_account_creation'] = df['b_account_creation'].astype( np.int32 )

df, = dask.persist(df)
_ = wait(df)

CPU times: user 324 ms, sys: 23.9 ms, total: 348 ms
Wall time: 1.98 s

In [16]:
%%time
tweet = df[['tweet_id']]
tweet = tweet.drop_duplicates(split_out=16)
tweet['tweet_encode'] = 1
tweet['tweet_encode'] = tweet['tweet_encode'].cumsum()
tweet, = dask.persist(tweet)
_ = wait(tweet)

CPU times: user 450 ms, sys: 29 ms, total: 479 ms
Wall time: 2.56 s

In [17]:
%%time
tweet.head()

CPU times: user 9.24 ms, sys: 845 Âµs, total: 10.1 ms
Wall time: 16.9 ms

                                tweet_id  tweet_encode
312867  00009D6FFA2FBF7F12F704F00558469A             1
52249   0000EEDC406DACDC9AA9385CB6319910             2
108636  0001347C7EE50DF8A45BC288C1C6387D             3
173251  000185AEB2BA91BC9112BE9EDC7E522E             4
59354   000233E63BC10675CAD2EED950912FBF             5

In [18]:
%%time
df = df.merge(tweet,on='tweet_id',how='left')
df = df.drop('tweet_id',axis=1)
df.columns = [i if i!='tweet_encode' else 'tweet_id' for i in df.columns]
df, = dask.persist(df)
wait(df)
del tweet

CPU times: user 487 ms, sys: 51.3 ms, total: 539 ms
Wall time: 4.42 s

In [19]:
%%time
df.head()

CPU times: user 14.7 ms, sys: 1.25 ms, total: 15.9 ms
Wall time: 29.3 ms

                                            hashtags  media  ...     id tweet_id
0  A9A9AB99F47CD2A83E9EE7514B69A7A5\t421BABC4007F...   <NA>  ...  80867    78182
1                                               <NA>   <NA>  ...  81184   100270
2                                               <NA>  Photo  ...  44978    98143
3                                               <NA>   <NA>  ...  45451    50822
4                                               <NA>   <NA>  ...  51550   134524

[5 rows x 24 columns]

In [20]:
%%time
user_a = df[['a_user_id']].drop_duplicates(split_out=16)
user_a, = dask.persist(user_a)
_ = wait(user_a)
user_b = df[['b_user_id']].drop_duplicates(split_out=16)
user_b, = dask.persist(user_b)
wait(user_b)

user_a.columns = ['user_id']
user_b.columns = ['user_id']
user_b['dummy'] = 1
user_a = user_a.merge(user_b,on='user_id',how='outer')
user_a = user_a.drop('dummy',axis=1)
user_a, = dask.persist(user_a)
wait(user_a)
del user_b

user_a['user_encode'] = 1
user_a['user_encode'] = user_a['user_encode'].cumsum()
user_a, = dask.persist(user_a)
_ = wait(user_a)

CPU times: user 1 s, sys: 80.4 ms, total: 1.08 s
Wall time: 4.11 s

In [21]:
%%time
df = df.merge(user_a,left_on='a_user_id',right_on='user_id',how='left')
df = df.drop(['a_user_id','user_id'],axis=1)
df.columns = [i if i!='user_encode' else 'a_user_id' for i in df.columns]
df, = dask.persist(df)
_ = wait(df)

CPU times: user 524 ms, sys: 46.7 ms, total: 570 ms
Wall time: 3.86 s

In [22]:
%%time
df = df.merge(user_a,left_on='b_user_id',right_on='user_id',how='left')
df = df.drop(['b_user_id','user_id'],axis=1)
df.columns = [i if i!='user_encode' else 'b_user_id' for i in df.columns]
df, = dask.persist(df)
wait(df)
del user_a

CPU times: user 519 ms, sys: 50.1 ms, total: 570 ms
Wall time: 3.76 s

In [23]:
%%time
df.head()

CPU times: user 14.8 ms, sys: 922 Âµs, total: 15.7 ms
Wall time: 27 ms

                           hashtags         media  ... a_user_id b_user_id
0                              <NA>          <NA>  ...    123348       640
1  200655D87FE7E0A0006234DB127A378F          <NA>  ...    122734     63314
2                              <NA>         Video  ...    217880     65320
3                              <NA>          <NA>  ...    177067     51696
4                              <NA>  Photo\tPhoto  ...    141352    139552

[5 rows x 24 columns]

In [26]:
%%time
def count_token(ds,token):
    not_null = ds.isnull()==0
    return ((ds.str.count(token)+1)*not_null).fillna(0)
df['len_hashtags'] = df['hashtags'].map_partitions(lambda ds: count_token(ds,'\t'))
df['len_domains'] = df['domains'].map_partitions(lambda ds: count_token(ds,'\t'))
df['len_links'] = df['links'].map_partitions(lambda ds: count_token(ds,'\t'))

df, = dask.persist(df)
_ = wait(df)

CPU times: user 1.12 s, sys: 31.4 ms, total: 1.16 s
Wall time: 1.48 s

In [27]:
%%time
df.head()

CPU times: user 16 ms, sys: 115 Âµs, total: 16.1 ms
Wall time: 28.9 ms

                           hashtags         media  ... len_domains len_links
0                              <NA>          <NA>  ...           0         0
1  200655D87FE7E0A0006234DB127A378F          <NA>  ...           1         1
2                              <NA>         Video  ...           0         0
3                              <NA>          <NA>  ...           0         0
4                              <NA>  Photo\tPhoto  ...           0         0

[5 rows x 27 columns]

In [28]:
def factorize_small_cardinality(df,col):
    tmp_col = f'{col}_encode'
    tmp = df[col].unique().compute()
    tmp = tmp.to_frame().reset_index()
    tmp = tmp.rename(columns={'index':tmp_col})
    df = df.merge(tmp,on=col,how='left')
    df, = dask.persist(df)
    wait(df)
    del tmp
    df = df.drop(col,axis=1)
    df, = dask.persist(df)
    wait(df)
    df.columns = [i if i!=tmp_col else col for i in df.columns ]
    return df

In [29]:
%%time
for col in ['language','tweet_type']:
    df = factorize_small_cardinality(df,col)
    df[col] = df[col].astype('int8')

CPU times: user 754 ms, sys: 36 ms, total: 790 ms
Wall time: 2.54 s

In [30]:
%%time
df.head()

CPU times: user 19.4 ms, sys: 1.5 ms, total: 20.9 ms
Wall time: 44 ms

                                            hashtags  ... tweet_type
0                                               <NA>  ...          1
1                                               <NA>  ...          1
2                                               <NA>  ...          2
3                                               <NA>  ...          1
4  8EC708C0073EDDE57F3BB17ECA262D9E\tCBFFDD847281...  ...          2

[5 rows x 27 columns]

In [32]:
%%time
def count_token(ds,token):
    not_null = ds.isnull()==0
    return ((ds.str.count(token))*not_null).fillna(0)

df['n_photo'] = df['media'].map_partitions(lambda ds: count_token(ds, 'Photo'))
df['n_gif'] = df['media'].map_partitions(lambda ds: count_token(ds, 'GIF'))
df['n_video'] = df['media'].map_partitions(lambda ds: count_token(ds, 'Video'))

df, = dask.persist(df)
_ = wait(df)

CPU times: user 270 ms, sys: 18.8 ms, total: 289 ms
Wall time: 945 ms

In [33]:
%%time
df.head()

CPU times: user 14.2 ms, sys: 1.62 ms, total: 15.8 ms
Wall time: 26.2 ms

                                            hashtags  ... n_video
0                                               <NA>  ...       0
1                                               <NA>  ...       0
2                                               <NA>  ...       0
3                                               <NA>  ...       0
4  8EC708C0073EDDE57F3BB17ECA262D9E\tCBFFDD847281...  ...       1

[5 rows x 30 columns]

In [34]:
df['date'] = df['timestamp'].astype('datetime64[s]')
df['hour'] = df['date'].dt.hour
df['day'] = df['date'].dt.day
df['month'] = df['date'].dt.month
df['day_of_week'] = df['date'].dt.dayofweek
df = df.drop('date', axis=1)

In [35]:
df.head()

                                            hashtags  ... day_of_week
0                                               <NA>  ...           2
1                                               <NA>  ...           1
2                                               <NA>  ...           2
3                                               <NA>  ...           2
4  8EC708C0073EDDE57F3BB17ECA262D9E\tCBFFDD847281...  ...           5

[5 rows x 34 columns]